form {
  display: flex;
  background-color: lightgrey;
  flex-direction: column;
  width: 50%;
  margin: 10% auto;
}

h2 {
  text-align: center;
}

input,
button {
  width: 50%;
  margin: 0 auto;
}

input,
button {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 10px;
  font-size: 20px;
}
label {
  width: 55%;
  margin: auto;
  padding: 10px;
  font-weight: 750;
}

button {
  margin-top: 25px;
  font-size: 20px;
  height: 25px;
  padding: 0px;
}

@media (max-width: 600px) {
  form {
    width: 100%;
  }
}
